@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --red: #ff7d7d;
}

.app{
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

main{
    width: 100vw;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style-type: none;
}
/* 
==============================================
Nav bar
============================================== */

.navbar {
    display: flex;
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    justify-content: space-between;
}

.nav-mobile{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--red);
    margin: 0;
    z-index: 3;
}

.nav-mobile a{
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
}

.nav-mobile img{
    width: 20%;
    margin: 7px;
    padding: 4px;
    /* border: .5px black solid; */
    
}

h1{
    color: var(--red);
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    border-bottom: 5px var(--red) solid;
    padding: 2px;
    margin: 23px;
}

.nav-links a{
    color: black;
}

.nav-links a:hover{
    color: var(--red);
}

.navbar-list{
    display: flex;
    float: right;
    text-decoration: none;
    margin: 20px;
    list-style-type: none;
}

.nav-links,
.rezeptHinBttn {
    padding:15px 30px 15px 0;
    font-size: 16px;
}

.rezeptHinBttn{
    background-color: var(--red);
    border-radius: 8px;
    color: white;
    padding: 15px;
}

.rezeptHinBttn:hover{
    background-color: white;
    color: var(--red);
    border: var(--red) 2px solid;
    padding: 13px;
}

@media screen and (max-width: 600px) {
    .nav-mobile {
        display: flex;
    }
    .nav-web{
        display: none;
    }
    h1{
        font-size: 24px;
        margin: 10px 15px;
    }
  }

/* 
==============================================
Home
============================================== */


.home{
    width: 100vw;
    /* height: 87vh; */
    height: calc(100vh - 95px);
    overflow: hidden;
    display: block;
}

.homeBG{
    display: block;
    /* width: 100vw;
    height: 100vh; */
    position: relative;
    top:0;
    z-index: 1;
}

.home-content{
    position: absolute;
    top:50%;
    left: 5%;
    width: 100vw;
    font-weight: 700;
    z-index: 9;
}

.home-title{
    display: inline;
    border-radius: 8px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 80vw;
    font-size: 4vw;
    font-weight: 200;
    z-index: 7;
    padding: 10px;
}

.form-home{
    z-index: 8;
    display: flex;
    margin-top: 60px;
    font-family: inherit;
}

#search-field{
    width: 50vw;
    font-family: inherit;
    font-size: 18px;
    border: none;
    margin: 0;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#search-bttn{
    width: 125px;
    height: 44px;
    margin:0;
    font-family: inherit;
    background-color: var(--red);
    box-shadow: none;
    border: none;
    font-size: 24px;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media screen and (orientation: landscape){
    .homeBG{
        width: 100%;
        max-width: 1920px;
        height: auto;
        margin: auto;
    }
}

@media screen and (orientation: portrait){
    .homeBG{
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 410px) {
    .home{
        /* height: 90vh; */
        height: -webkit-fill-available;
    }
    .homeBG{
        width: auto;
        height: 90vh;
    }
    .form-home {
        margin-top: 35px;
    }
    .home-content {
        width: auto;
    }
    .home-title {
        font-size: 8vw;
        display: block;
    }
}

/* 
==============================================
Recipeslist
============================================== */

.collection-page {
    margin: auto;
    max-width: 1920px;
    padding-bottom: 30px;
}

.filter{
    min-width: 250px;
    margin: 17px;
    display: flex;
}

.filter label{
    font-weight: 100;
}

.filter-time-wrapper{
    display: flex;
    align-items: center;
}

.filter-name,
.filter-art,
.filter-time{
    width: 200px;
    margin-right: 80px;
}


.filter-time{
    display: flex;
    flex-direction: column;
}

#filter-time{width: 80%;}

.recipe-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe-list a{
    padding: 25px;
    margin: 15px;
    border: var(--red) 2px solid;
    box-shadow: 5px 5px var(--red);
    cursor: pointer;
}

.recipe-list a:active{
    transform: translate(5px, 5px);
    box-shadow: none;
}

.recipe-list-title{
    font-size: 24px;;
}

.recipe-list-min{
    font-size: 12px;
    color: rgb(199, 199, 199);
}

.title-list-zutaten{
    margin: 10px 0;
}

.list-zutaten{
    width: 100%;
    border-bottom: lightgray 1px solid;
    list-style-type: none;
}

@media screen and (max-width: 715px) {
    .recipe-list{grid-template-columns: 1fr 1fr;}
}

@media screen and (max-width: 415px) {
    .collection-page{
        flex-direction: column;
        margin-bottom: 60px;
    }
    .recipe-list{grid-template-columns: 1fr;}
    
    .filter{
        width: auto; 
        flex-direction: column; 
        justify-content: space-evenly;
        margin: 0 17px;
    }
    
    #name{width: calc(100% - 6px);}
    .filter label{
        margin-top: 15px;
    }
}

/* 
==============================================
Add Recipe
============================================== */

.add-form{
    
    margin: 25px;
}

.add-form h2{
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;
}

.add-form-input{
    display: flex;
    flex-direction: column;
    width: 490px;
    margin: 20px auto 50px auto;
}

.add-form input{
    margin-bottom: 30px;
}

.form-person-time{
    display: flex;
    justify-content: space-between;
}

label{
    display: inline-block;
    font-weight: 900;
}

input,
select,
textarea{
    border:lightgray solid 1px;
    margin: 5px 5px 30px 0;
    padding: 2px;
    line-height: 24px;
    font-size: 15px;
    font-family: inherit; 
    width: 100%;
}

.collection-page input,
.collection-page select{
    margin: 0;
}

.zubereitungszeit{
    display: flex;
}

.zubereitungszeit p{
    margin: 7.5px 0;
}
.ingredients,
.ingredients-list,
.added-ingredient{
    width: 100%;
}

#person,
#dauer,
#art{
    width: 100px;
}

#zutaten{
    width: 80%;
}

.output-ingredients-list{
    margin-bottom: 30px;
}

.output-ingredients-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(77, 77, 77);
    border-bottom: lightgray 1px solid;
    padding: 5px; 
    margin-bottom: 5px;
}

.plus{
    float: right;
    position: relative;
    left: 6px;
    top: 33.5px;
    border-radius: 8px;
    background-color: var(--red);
    line-height: 13px;
    font-size: 24px;
    font-weight: 100;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.deletebtn {
    height: 4px;
    width: 15px;
    background-color: #ff7d7d;
}

.save-changes,
.submit{
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    line-height: 24px;
}

@media screen and (max-width: 600px) {
    .add-form{display: inline-block;}
    .add-form-input {width: auto;}
    .form-person-time{flex-direction: column;}
    .submit{margin-bottom: 40px;}
    #person,
    #dauer,
    #art { width: 80%;}
}

/* 
==============================================
Recipe Added
============================================== */

  @keyframes underline {
    100%{width: 100%;}
  }

.recipe-added{
    display: block;
}

.recipe-added-title{
    position: absolute;
    left: 50%;
    top: 280px;
    transform: translateX(-50%);  
}

.underline{
    width: 0%;
    height: 5px;
    background-color: rgb(162 213 185);
    animation: underline 2s infinite linear;
}

.circle{
    border: rgb(162 213 185) 3px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 148px;
    transform: translateX(-50%);
}

.check-right,
.check-left{
    position: absolute;
    background-color: rgb(162 213 185);
    transform-origin: bottom left;
    border-radius: 8px;
    width: 7px;
}

.check-left{
    top: 28px;
    left: 50%;
    height: 50px;
    transform: rotate(-45deg);
}

.check-right{
    left: 45%;
    top: -27px;
    height: 100px;
    transform: rotate(45deg);
}

/* 
==============================================
Recipe 
============================================== */

.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    margin: 5px auto 100px auto;
    width: 680px;
}

.recipe-title{
    border-bottom: var(--red) 1px solid;
}

h3{
    font-weight: 200;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.recipe-zubereitungszeit{
    color:rgb(199, 199, 199)
}

.recipe-liste-title{
    margin-top: 30px;
    /* margin-bottom: 75px; */
}

.recipe-zutaten-liste{
    margin-bottom: 30px;
    max-width: 400px;
}

.recipe-zutaten{
    list-style: none;
    border-bottom: lightgray 1px solid;
    padding-left: 10px;
}

.recipe-zubereitung{
    white-space: pre-wrap;
    padding-left: 10px;
}

.delete,
.change{
    background-color: var(--red);
    border-radius: 8px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 30px;
    border: 1px solid black;
    overflow:visible;
}

.popup-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.bttn-delete {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.bttn-delete > button {
    padding: 5px;
    margin-top: 20px;
    background-color: white;
    border: 0.7px solid rgb(76, 76, 76);
    font-family: inherit;
    border-radius: 2px;
}

.bttn-delete > button:hover {
    background-color: lightgray;
}

.hide {
    display: none;
}

@media screen and (max-width: 415px) {
    article{
        margin: 5px 15px 100px 15px;
        width: auto;
    }
}

